<nav class="navbar-fixed-top navbar-inverse">
  <div class="layout-row header">
    <div class="navbar-header flex-25">
      <!--<a href="/" class="navbar-brand"><span class="brand-title">{{vm.navline.title}}</span></a>-->
      <div class="logo">
      <a href="/" class="navbar-brand"><span class="brand-title"><img src="images/logo1.png" /></span></a>
      </div>
      
    </div>


    <div class="flex-50">
    <div class="search-container">
      <form action="">
        <input type="text" placeholder="Search for Vegetables and Fruits" name="search" style="font-size:20px; border: 1px solid green;">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
    </div>

    <div class="flex-25 cartnum">
      <div class="layout-row">
        <div class="flex-40 numItem">
          No. of Item : 0 <br>
          Subtotal : 0
        </div>
        <div class="flex-40">
          <img src="images/cart.png" />
        </div>
      </div>
    </div>

  </div>


  




  
  <!--<div class="navbar-collapse collapse" uib-collapse="isCollapsed">
    <div class="pull-right navbar-logo">
      <ul class="nav navbar-nav pull-right">
        <li>
          <a ng-href="{{vm.navline.link}}" target="_blank">
                        {{vm.navline.text}}
                    </a>
        </li>
        <li class="dropdown dropdown-big">
          <a href="http://www.angularjs.org" target="_blank">
            <img src="images/AngularJS-small.png" />
          </a>
        </li>
        <li>
          <a href="http://www.gulpjs.com/" target="_blank">
            <img src="images/gulp-tiny.png" />
          </a>
        </li>
      </ul>
    </div>
  </div>-->
</nav>


