<div class="productSection" ng-controller="productController">
  <div class="container">
    <div class="layout-row">

      <div class="products flex-25">
        <md-card class="cards">
              <div class="dialog-demo-content">
                <a href="#" class="md-primary md-raised edgePadding" ng-click="openFromLeft()"><img ng-src="images/broccoli.png" class="md-card-image" alt="Washed Out"></a>
              </div>
              <md-card-title>
                <md-card-title-text>
                  <span><h5>Brocccoli - 1kg</h5></span>
                  <span><h3> ৳ 120</h3></span>
                </md-card-title-text>
              </md-card-title>
              <div class="amount" layout="row" layout-align="center">
                <button>-</button>
                <input type="text" value="1" name="">
                <button>+</button>
              </div>
              <button>Add to Cart</button>
              
            </md-card>
      </div>

      <div class="products flex-25">
        <md-card class="cards">
              <img ng-src="images/cauliflower.png" class="md-card-image" alt="Washed Out">
              <md-card-title>
                <md-card-title-text>
                  <span><h5>Cauliflower - 1kg</h5></span>
                  <span><h3> ৳ 60</h3></span>
                </md-card-title-text>
              </md-card-title>
              <div class="amount" layout="row" layout-align="center">
                <button>-</button>
                <input type="text" value="1" name="">
                <button>+</button>
              </div>
              <button>Add to Cart</button>
              
            </md-card>
      </div>

      <div class="products flex-25">
        <md-card class="cards">
              <img ng-src="images/cucumber.png" class="md-card-image" alt="Washed Out">
              <md-card-title>
                <md-card-title-text>
                  <span><h5>Brocccoli - 1kg</h5></span>
                  <span><h3> ৳ 120</h3></span>
                </md-card-title-text>
              </md-card-title>
              <div class="amount" layout="row" layout-align="center">
                <button>-</button>
                <input type="text" value="1" name="">
                <button>+</button>
              </div>
              <button>Add to Cart</button>
              
            </md-card>
      </div>

      <div class="products flex-25">
        <md-card class="cards">
              <img ng-src="images/beetroot.png" class="md-card-image" alt="Washed Out">
              <md-card-title>
                <md-card-title-text>
                  <span><h5>Brocccoli - 1kg</h5></span>
                  <span><h3> ৳ 120</h3></span>
                </md-card-title-text>
              </md-card-title>
              <div class="amount" layout="row" layout-align="center">
                <button>-</button>
                <input type="text" value="1" name="">
                <button>+</button>
              </div>
              <button>Add to Cart</button>
              
            </md-card>
      </div>

    </div>
  </div>


  <div class="container">
    <div class="layout-row">

      <div class="products flex-25">
        <md-card class="cards">
              <img ng-src="images/broccoli.png" class="md-card-image" alt="Washed Out">
              <md-card-title>
                <md-card-title-text>
                  <span><h5>Brocccoli - 1kg</h5></span>
                  <span><h3> ৳ 120</h3></span>
                </md-card-title-text>
              </md-card-title>
              <div class="amount" layout="row" layout-align="center">
                <button>-</button>
                <input type="text" value="1" name="">
                <button>+</button>
              </div>
              <button>Add to Cart</button>
              
            </md-card>
      </div>

      <div class="products flex-25">
        <md-card class="cards">
              <img ng-src="images/cauliflower.png" class="md-card-image" alt="Washed Out">
              <md-card-title>
                <md-card-title-text>
                  <span><h5>Cauliflower - 1kg</h5></span>
                  <span><h3> ৳ 60</h3></span>
                </md-card-title-text>
              </md-card-title>
              <div class="amount" layout="row" layout-align="center">
                <button>-</button>
                <input type="text" value="1" name="">
                <button>+</button>
              </div>
              <button>Add to Cart</button>
              
            </md-card>
      </div>

      <div class="products flex-25">
        <md-card class="cards">
              <img ng-src="images/cucumber.png" class="md-card-image" alt="Washed Out">
              <md-card-title>
                <md-card-title-text>
                  <span><h5>Brocccoli - 1kg</h5></span>
                  <span><h3> ৳ 120</h3></span>
                </md-card-title-text>
              </md-card-title>
              <div class="amount" layout="row" layout-align="center">
                <button>-</button>
                <input type="text" value="1" name="">
                <button>+</button>
              </div>
              <button>Add to Cart</button>
              
            </md-card>
      </div>

      <div class="products flex-25">
        <md-card class="cards">
              <img ng-src="images/beetroot.png" class="md-card-image" alt="Washed Out">
              <md-card-title>
                <md-card-title-text>
                  <span><h5>Brocccoli - 1kg</h5></span>
                  <span><h3> ৳ 120</h3></span>
                </md-card-title-text>
              </md-card-title>
              <div class="amount" layout="row" layout-align="center">
                <button>-</button>
                <input type="text" value="1" name="">
                <button>+</button>
              </div>
              <button>Add to Cart</button>
              
            </md-card>
      </div>

    </div>
  </div>

  
</div>




<!--<div layout="row" layout-wrap>
  <div flex="100" flex-gt-sm="33">
    flex 100% on mobile, <br>and 33% on gt-sm devices.
  </div>
  <div flex="100" flex-gt-sm="66">
    flex 100% on mobile, <br>and 66% on gt-sm devices.
  </div>
  <div flex="100" flex-md="50" flex-gt-md="25">
    flex 100% on mobile, 50% on md, and 25% on gt-md devices.
  </div>
  <div flex="100" flex-md="50" flex-gt-md="25">
    flex 100% on mobile, 50% on md, and 25% on gt-md devices.
  </div>
  <div flex="100" flex-md="50" flex-gt-md="25">
    flex 100% on mobile, 50% on md, and 25% on gt-md devices.
  </div>
  <div flex="100" flex-md="50" flex-gt-md="25">
    flex 100% on mobile, 50% on md, and 25% on gt-md devices.
  </div>
</div>-->

