<div class="productSection">
  <div class="container">

    <div class="layout-row">

      <div class="products flex-25">
        <md-card class="cards">
              <div class="dialog-demo-content">
                <a href="#" class="md-primary md-raised edgePadding" ng-click="openFromLeft()"><img ng-src="images/broccoli.png" class="md-card-image" alt="Washed Out"></a>
              </div>
              <md-card-title>
                <md-card-title-text>
                  <span><h5>Brocccoli - 1kg</h5></span>
                  <span ng-init="price=120"><h3> ৳ {{price}}</h3></span>
                </md-card-title-text>
              </md-card-title>
              <div class="amount" layout="row" layout-align="center">
                <button ng-click="count = count-1">-</button>
                <input type="text" value="{{count}}" name="" ng-init="count=1">
                <button ng-click="count = count+1">+</button>
              </div>
              <button ng-click="addcartt(count,price)" ng-init="cnt=count; prc=price">Add to Cart</button>
              
            </md-card>
      </div>

      <div class="products flex-25">
        <md-card class="cards">
              <a href="#" class="md-primary md-raised edgePadding" ng-click="openFromLeft()"><img ng-src="images/cauliflower.png" class="md-card-image" alt="Washed Out"></a>
              <md-card-title>
                <md-card-title-text>
                  <span ng-init="price1=120"><h5>Cauliflower - 1kg</h5></span>
                  <span><h3> ৳ {{price1}}</h3></span>
                </md-card-title-text>
              </md-card-title>
              <div class="amount" layout="row" layout-align="center">
                <button ng-click="count1 = count1-1">-</button>
                <input type="text" value="{{count1}}" name="" ng-init="count1=1">
                <button ng-click="count1 = count1+1">+</button>
              </div>
              <button ng-click="addcartt(count1,price1)" ng-init="cnt=count1; prc=price1">Add to Cart</button>
              
            </md-card>
      </div>

      <div class="products flex-25">
        <md-card class="cards">
              <a href="#" class="md-primary md-raised edgePadding" ng-click="openFromLeft()"><img ng-src="images/cucumber.png" class="md-card-image" alt="Washed Out"></a>
              <md-card-title>
                <md-card-title-text>
                  <span ng-init="price2=120"><h5>Brocccoli - 1kg</h5></span>
                  <span><h3> ৳ {{price2}}</h3></span>
                </md-card-title-text>
              </md-card-title>
              <div class="amount" layout="row" layout-align="center">
                <button ng-click="count2 = count2-1">-</button>
                <input type="text" value="{{count2}}" name="" ng-init="count2=1">
                <button ng-click="count2 = count2+1">+</button>
              </div>
              <button ng-click="addcartt(count2,price2)" ng-init="cnt=count2; prc=price2">Add to Cart</button>
              
            </md-card>
      </div>

      <div class="products flex-25">
        <md-card class="cards">
              <a href="#" class="md-primary md-raised edgePadding" ng-click="openFromLeft()"><img ng-src="images/beetroot.png" class="md-card-image" alt="Washed Out"></a>
              <md-card-title>
                <md-card-title-text>
                  <span ng-init="price3=120"><h5>Brocccoli - 1kg</h5></span>
                  <span><h3> ৳ {{price3}}</h3></span>
                </md-card-title-text>
              </md-card-title>
              <div class="amount" layout="row" layout-align="center">
                <button ng-click="count3 = count3-1">-</button>
                <input type="text" value="{{count3}}" name="" ng-init="count3=1">
                <button ng-click="count3 = count3+1">+</button>
              </div>
              <button ng-click="addcartt(count3,price3)" ng-init="cnt=count3; prc=price3">Add to Cart</button>
              
            </md-card>
      </div>

    </div>
  </div>


  <div class="container">
    <div class="layout-row">

      <div class="products flex-25">
        <md-card class="cards">
              <a href="#" class="md-primary md-raised edgePadding" ng-click="openFromLeft()"><img ng-src="images/broccoli.png" class="md-card-image" alt="Washed Out"></a>
              <md-card-title>
                <md-card-title-text>
                  <span ng-init="price4=120"><h5>Brocccoli - 1kg</h5></span>
                  <span><h3> ৳ {{price4}}</h3></span>
                </md-card-title-text>
              </md-card-title>
              <div class="amount" layout="row" layout-align="center">
                <button ng-click="count4 = count4-1">-</button>
                <input type="text" value="{{count4}}" name="" ng-init="count4=1">
                <button ng-click="count4 = count4+1">+</button>
              </div>
              <button ng-click="addcartt(count4,price4)" ng-init="cnt=count4; prc=price4">Add to Cart</button>
              
            </md-card>
      </div>

      <div class="products flex-25">
        <md-card class="cards">
              <a href="#" class="md-primary md-raised edgePadding" ng-click="openFromLeft()"><img ng-src="images/cauliflower.png" class="md-card-image" alt="Washed Out"></a>
              <md-card-title>
                <md-card-title-text>
                  <span ng-init="price5=120"><h5>Cauliflower - 1kg</h5></span>
                  <span><h3> ৳ {{price5}}</h3></span>
                </md-card-title-text>
              </md-card-title>
              <div class="amount" layout="row" layout-align="center">
                <button ng-click="count5 = count5-1">-</button>
                <input type="text" value="{{count5}}" name="" ng-init="count5=1">
                <button ng-click="count5 = count5+1">+</button>
              </div>
              <button ng-click="addcartt(count5,price5)" ng-init="cnt=count5; prc=price5">Add to Cart</button>
              
            </md-card>
      </div>

      <div class="products flex-25">
        <md-card class="cards">
              <a href="#" class="md-primary md-raised edgePadding" ng-click="openFromLeft()"><img ng-src="images/cucumber.png" class="md-card-image" alt="Washed Out"></a>
              <md-card-title>
                <md-card-title-text>
                  <span ng-init="price6=120"><h5>Brocccoli - 1kg</h5></span>
                  <span><h3> ৳ {{price6}}</h3></span>
                </md-card-title-text>
              </md-card-title>
              <div class="amount" layout="row" layout-align="center">
                <button ng-click="count6 = count6-1">-</button>
                <input type="text" value="{{count6}}" name="" ng-init="count6=1">
                <button ng-click="count6 = count6+1">+</button>
              </div>
              <button ng-click="addcartt(count6,price6)" ng-init="cnt=count6; prc=price6">Add to Cart</button>
              
            </md-card>
      </div>

      <div class="products flex-25">
        <md-card class="cards">
              <a href="#" class="md-primary md-raised edgePadding" ng-click="openFromLeft()"><img ng-src="images/beetroot.png" class="md-card-image" alt="Washed Out"></a>
              <md-card-title>
                <md-card-title-text>
                  <span ng-init="price7=120"><h5>Brocccoli - 1kg</h5></span>
                  <span><h3> ৳ {{price7}}</h3></span>
                </md-card-title-text>
              </md-card-title>
              <div class="amount" layout="row" layout-align="center">
                <button ng-click="count7 = count7-1">-</button>
                <input type="text" value="{{count7}}" name="" ng-init="count7=1">
                <button ng-click="count7 = count7+1">+</button>
              </div>
              <button ng-click="addcartt(count7,price7)" ng-init="cnt=count7; prc=price7">Add to Cart</button>
              
            </md-card>
      </div>

    </div>
  </div>

  
</div>




<!--<div layout="row" layout-wrap>
  <div flex="100" flex-gt-sm="33">
    flex 100% on mobile, <br>and 33% on gt-sm devices.
  </div>
  <div flex="100" flex-gt-sm="66">
    flex 100% on mobile, <br>and 66% on gt-sm devices.
  </div>
  <div flex="100" flex-md="50" flex-gt-md="25">
    flex 100% on mobile, 50% on md, and 25% on gt-md devices.
  </div>
  <div flex="100" flex-md="50" flex-gt-md="25">
    flex 100% on mobile, 50% on md, and 25% on gt-md devices.
  </div>
  <div flex="100" flex-md="50" flex-gt-md="25">
    flex 100% on mobile, 50% on md, and 25% on gt-md devices.
  </div>
  <div flex="100" flex-md="50" flex-gt-md="25">
    flex 100% on mobile, 50% on md, and 25% on gt-md devices.
  </div>
</div>-->

