.shafi{
color: orange;
background-color: blue;
font-size: 20px;
}

.search-container {
  float: left;
}

.search-container input[type=text] {
  width : 380px;
  height: 43px;
  padding: 16px 50px;
  margin-left: 55px;
  margin-top: 8px;
  font-size: 16px !important;
  border: 2px solid green !important;
  font-size: 26px;
  outline-color: green;
}

.numItem{
	color: green;
	font-size: 14px;
	margin-left: 80px;
}

.header{
	padding-bottom: 5px;
}

.cartnum{
	margin-top: 15px;

}

.logo img{
	margin-left: 70px;
}

.search-container button {
  float: right;
  padding: 10px 50px;
  margin-top: 8px;
  margin-right: 16px;
  background: green;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

.container{
	width: 96%;
	margin-left: 2%;
	padding-top: 30px;
}

.productSection{
	background: #F2F2F2;
	margin-top:140px;
}

.cards{
	background: white;
}
.products img{
	width: 150px;
	height: 150px;
	margin-left: 25%;
	margin-top: 25px;
}
.products h5{
	text-align: center;
}
.products h3{
	text-align: center;
	font-weight: bold;
}
.products button{
	font-size: 16px;
	text-align: center;
	background-color: green;
	width: 40%;
	padding: 5px 15px;
	color: white;
	border: none;
	border-radius: 2px;
	margin-left: 30%;
	margin-bottom: 20px;
}
.amount{
	width: 54%;
	margin-left: 23%;
}

.amount button{
	background-color: white;
    border: 1px solid #95a5a6;
    color: black;
    width: 30px;
    height: 30px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    margin-right:10px;
    border-radius: 50%;
}

.amount input{
  width : 40px;
  height: 25px;
  padding: 6px 10px;
  font-size: 14px;
  border: 1px solid black;
  text-align: center;
}

.md-button {
  margin-top: 16px;
  margin-bottom: 16px; }